<template >
  <div class="container" style="margin-top: 2%;">
    <div class="row">
      <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Ronda 3</a>
          <!-- <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Indicadores</a> -->
          <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Reglas</a>
          <!-- <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a> -->
        </div>
      </div>
      <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
          <!-- Ronda 3 -->
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class="row mt-4">
              <div class="col-md-12">
                <h3 class="text-center text-uppercase font-weight-bold">{{ $t('admin.one') }}</h3>
              </div>
              <div class="col-md-12">
                <button class="btn btn-primary btn-round mb-3 float-right" @click="newModal">
                  {{ $t('admin.two') }}
                </button>
              </div>
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <div class="table-responsive p-0">
                      <table class="table table-hover">
                        <tbody>
                          <tr>
                            <th style="width:30%;">{{ $t('admin.namet') }}</th>
                            <th style="width:20%;">{{ $t('admin.abvt') }}</th>
                            <th style="width:50%;">{{ $t('admin.opct') }}</th>
                          </tr>
                          <tr v-for="state in states" :key="state.id">
                            <td>{{state.name}}</td>
                            <td>{{state.key}}</td>
                            <td>
                              <a href="#" @click="editModal(state)">
                                <img src="/img/assets/icons_INL_icon_pencil.svg" alt="pencil"
                                style="width: 2.5em;">
                              </a>
                              &nbsp;
                              <a href="#" @click="deleteUser(state.id)">
                                <i class="fas fa-trash"></i>
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Indicadores -->
          <!-- <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <div class="row mt-4">
              <div class="col-md-12">
                <h3 class="text-center text-uppercase font-weight-bold">{{ $t('admin.indione') }}</h3>
              </div>
            </div>
          </div> -->

          <!-- Reglas -->
          <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <div class="row mt-4">
              <div class="col-md-12">
                <h3 class="text-center text-uppercase font-weight-bold">{{ $t('admin.reglasone') }}</h3>
              </div>
              <div class="col-md-12">
                <button class="btn btn-primary btn-round mb-3 float-right" @click="newModalRules">
                  Agregar Reglas
                </button>
              </div>
              <div class="col-md-12">
                <div class="card">
                  <div class="table-responsive">
                    <table class="table">
                      <tr>
                        <th>Estado</th>
                        <th>Año</th>
                        <th>Indicador</th>
                        <th>Valor Nuevo</th>
                        <th>Editar / Eliminar</th>
                      </tr>
                      <tr v-for="r in rulesdata"  :key="r.id">
                        <td>{{r.state}}</td>
                        <td>{{r.year}}</td>
                        <td>{{r.indicador}}</td>
                        <td>{{r.text}}</td>
                        <td>
                          <a href="#" @click="editModalRules(r)">
                            <img src="/img/assets/icons_INL_icon_pencil.svg" alt="pencil"
                            style="width: 2.5em;">
                          </a>
                          &nbsp;
                          <a href="#" @click="deleteRule(r.id)">
                            <i class="fas fa-trash"></i>
                          </a>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">..b.</div> -->
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" v-show="!editmode" id="addNewLabel">{{ $t('admin.add_new_state') }}</h5>
            <h5 class="modal-title" v-show="editmode" id="addNewLabel">{{ $t('admin.update_state') }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form @submit.prevent="editmode ? updateState() : createState()">
            <div class="modal-body">
              <div class="form-group">
                <label>{{ $t('admin.name_state') }}</label>
                <input v-model="name" type="text" name="name" placeholder="Nombre" class="form-control">
              </div>
            </div>
            <div class="modal-footer">
              <button v-show="editmode" type="submit" class="btn btn-primary btn-round">Actualizar
              </button>
              <button v-show="!editmode" type="submit" class="btn btn-primary btn-round">Agregar</button>
              <button type="button" class="btn btn-secondary btn-round" data-dismiss="modal">Cancelar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Modal Reglas-->
    <div class="modal fade" id="addRules" tabindex="-1" role="dialog" aria-labelledby="addRulesLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" v-show="!editmoderules" id="addNewLabel">Agregar Regla</h5>
            <h5 class="modal-title" v-show="editmoderules" id="addNewLabel">Editar Regla</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form @submit.prevent="editmoderules ? updateRules() : createRules()">
            <div class="modal-body">
              <!-- <div class="form-group">
                <label>{{ $t('admin.name_state') }}</label>
                <input v-model="name" type="text" name="name" placeholder="Nombre" class="form-control">
              </div> -->
              <div class="form-group">
                <label>Estado</label>
                <select name="type" v-model="form.stateid" id="type" class="form-control">
                <option v-for="t in states"  :key="t.id" :value="t.id">{{t.name}}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Año</label>
              <select name="type" v-model="form.year" id="type" class="form-control">
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
              <option value="2022">2022</option>
            </select>
          </div>
          <div class="form-group">
            <label># Indicador</label>
            <input v-model="form.indicador" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Texto</label>
            <input v-model="form.text" type="text" class="form-control">
          </div>
        </div>
            <div class="modal-footer">
              <button v-show="editmoderules" type="submit" class="btn btn-primary btn-round">Actualizar
              </button>
              <button v-show="!editmoderules" type="submit" class="btn btn-primary btn-round">Agregar</button>
              <button type="button" class="btn btn-secondary btn-round" data-dismiss="modal">Cancelar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</template>
<script>
export default {
  data: () => ({
    editmode: false,
    editmoderules: false,
    name : '',
    id : 0,
    states : '',
    form: new Form({
      id: '',
      stateid : '',
      year : 0,
      indicador: '',
      text : '',
    }),
    rulesdata: {},
  }),
  methods:{
    newModal() {
      this.editmode = false;
      this.name = '';
      $('#addNew').modal('show');
    },

    newModalRules() {
      this.editmoderules = false;
      this.form.reset();
      $('#addRules').modal('show');
    },

    createState() {
      this.$Progress.start();

      axios.post('api/state-create',{
        name: this.name
      }).then((r) => {
        if (r.data.status == false) {
          toast({
            type: 'warning',
            title: 'Estado ya agregado'
          });
          return;
        }
        Fire.$emit('AfterCreate');
        this.getDatePrincipal();
        $('#addNew').modal('hide')
        toast({
          type: 'success',
          title: 'Estado creado correctamente'
        })
        this.$Progress.finish();
      })
      .catch((error) => {
          toast({
            type: 'error',
            title: 'Error al crear estado'
          });
        this.$Progress.fail();
      })
    },

    createRules() {
      this.$Progress.start();

      this.form.post('api/state-create-rules').then((r) => {
        if (r.data.status == false) {
          toast({
            type: 'warning',
            title: 'Regla ya agregada'
          });
          return;
        }
        Fire.$emit('AfterCreate');
        this.getRules();
        $('#addRules').modal('hide')
        toast({
          type: 'success',
          title: 'Regla creado correctamente'
        })
        this.$Progress.finish();
      })
      .catch((error) => {
          toast({
            type: 'error',
            title: 'Error al crear Regla'
          });
        this.$Progress.fail();
      })
    },

    updateState(){
      this.$Progress.start();

      axios.put('api/state-update',{
        id: this.id,
        name: this.name
      }).then((r) => {
        if (r.data.status == false) {
          toast({
            type: 'warning',
            title: 'Estado ya agregado'
          });
          return;
        }
        Fire.$emit('AfterCreate');
        this.getDatePrincipal();
        $('#addNew').modal('hide')
        toast({
          type: 'success',
          title: 'Estado creado correctamente'
        })
        this.$Progress.finish();
      })
      .catch((error) => {
          toast({
            type: 'error',
            title: 'Error al crear Estado'
          });
        this.$Progress.fail();
      })
    },

    updateRules(){
      this.$Progress.start();

      this.form.put('api/state-update-rules').then((r) => {
        if (r.data.status == false) {
          toast({
            type: 'warning',
            title: 'Estado ya agregado'
          });
          return;
        }
        Fire.$emit('AfterCreate');
        this.getRules();
        $('#addRules').modal('hide')
        toast({
          type: 'success',
          title: 'Estado creado correctamente'
        })
        this.$Progress.finish();
      })
      .catch((error) => {
          toast({
            type: 'error',
            title: 'Error al crear Estado'
          });
        this.$Progress.fail();
      })
    },

    getDatePrincipal(){
      axios.get("api/state-three").then(
        ({data}) => (
          this.states = data
        )
      ).catch((e)=>{
        toast({
          type: 'error',
          title: 'Error al cargar datos Ronda 3'
        })
      });
    },

    getRules(){
      axios.get('api/state-three-rules').then(response => {
        this.rulesdata = response.data;
      }).catch(e => {
        toast({
          type: 'error',
          title: 'Error al cargar datos Ronda 3'
        })
      });
    },

    editModal(user) {
      this.editmode = true;
      this.name = '';
      this.id = 0;
      this.name = user.name;
      this.id = user.id;
      $('#addNew').modal('show');
    },

    editModalRules(data) {
      this.editmoderules = true;
      this.form.reset();
      $('#addRules').modal('show');
      this.form.fill(data);
    },

    deleteRule(id) {
      swal({
        title: '¿Estás seguro?',
        text: "¡No podrás revertir esta acción!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sí, eliminar'
      }).then((result) => {
        if (result.value) {
          axios.get('api/state-delete-rules/' + id).then(r => {
            toast({
              type: 'success',
              title: 'Eliminado correctamente'
            })
            this.getRules();
          }).catch(e => {
            console.log(e);
          });
        }
      })


    }
  },
  created() {
    const languaje = localStorage.getItem("languaje");
    this.$i18n.locale = languaje;
    this.getDatePrincipal();
    this.getRules();
  }
}

</script>
