<template>
  <div class="card" :class="{ 'collapsed-card' : collapse }">
    <div class="card-header second-blue">
      <p style="padding-right: 1em;">
        <template v-if="indicator.id == 57 || indicator.id == 96">
          {{ indicator.num }}.1 {{ indicator.name }}
        </template>
        <template v-else-if="indicator.id == 58 || indicator.id == 97">
          {{ indicator.num }}.2 {{ indicator.name }}
        </template>
        <template v-else-if="indicator.id == 66 || indicator.id == 105">
          {{ indicator.num }}.1 {{ indicator.name }}
        </template>
        <template v-else-if="indicator.id == 67 || indicator.id == 106">
          {{ indicator.num }}.2 {{ indicator.name }}
        </template>
        <template v-else-if="indicator.id == 68 || indicator.id == 107">
          {{ indicator.num }}.3 {{ indicator.name }}
        </template>
        <template v-else>
          {{ indicator.num }} {{ indicator.name }}
        </template>
      </p>
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-widget="collapse" @click="toggleCollapsed(collapse)">
          <i v-if="collapse" class="fa fa-plus"></i>
          <i v-else class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="card-body">
      <div class="row">

        <div class="col-md-8" >
          <label for="" class="text-uppercase font-weight-bold">Interpretación </label>
          <vue-editor v-model="form['interpretation'+indicator.id+'_'+years]"></vue-editor>
        </div>
        <div class="col-md-4 text-center">

          <template v-if="round == '1'">
            <template v-if="rules.length != 0">
              <p class="display-4 text-primary mt-4">
              <template  v-if="rules.find(e => e.key === state && e.indicador == indicator.num && e.year == years && e.id_i == indicator.id)">
                <span> {{rules.find(e => e.key === state && e.indicador == indicator.num && e.year == years && e.id_i == indicator.id).text}}</span>
              </template>
              <template v-else>
                <span v-if="variables[indicator.dividend] == null || variables[indicator.divider] == null">N.D.</span>
                <span v-else>{{
                  getPercentage(variables[indicator.dividend] , variables[indicator.divider])
                }}
              </span>
            </template>
            </p>
            </template>
              <template v-else>
                <p class="display-4 text-primary mt-4" v-if="indicator.num == 5.1 || indicator.num == 11.2 || indicator.num == 13.1">
                  -
                </p>
                <p class="display-4 text-primary mt-4" v-else>
                  <span v-if="variables[indicator.dividend] == null || variables[indicator.divider] == null">N.D.</span>
                  <span v-else>
                    {{ getPercentage(variables[indicator.dividend] , variables[indicator.divider])  }}
                  </span>
                </p>
              </template>

          </template>
          <template v-if="round == '2' || round == '3'">
            <p class="display-4 text-primary mt-4">

              <template v-if="rules.length != 0">
                <template  v-if="rules.find(e => e.key === state && e.indicador == indicator.num && e.year == years && e.id_i == indicator.id)">
                  <span> {{rules.find(e => e.key === state && e.indicador == indicator.num && e.year == years && e.id_i == indicator.id).text}}</span>
                </template>
                <template v-else>
                  <span v-if="variables[indicator.dividend] == null || variables[indicator.divider] == null">N.D.</span>
                  <span v-else>{{
                    getPercentage(variables[indicator.dividend] , variables[indicator.divider])
                  }}
                </span>
              </template>
            </template>
            <template v-else>
              <span v-if="variables[indicator.dividend] == null || variables[indicator.divider] == null">N.D.</span>
              <span v-else>{{
                getPercentage(variables[indicator.dividend] , variables[indicator.divider])
              }}
            </span>
          </template>
        </p>
      </template>
      <hr>
      <p>Rango deseable</p>
      <p class="h3">{{ indicator.desirable_range }}</p>
      <p>Datos del {{this.$route.params.year}}</p>
      <template v-if="rulestateselect !== null">
        <p><b>
          (Ronda {{rulestateselect.round}})
        </b></p>
      </template>
      <hr>
      <p>Fórmula</p>
      {{indicator.num}}
      <template v-if="$route.params.key === 'mex2' && indicator.num == 11.3">
        <p class="text-primary">Feminicidio ({{ variables[indicator.dividend] }})  / {{ divider_name }} ({{ variables[indicator.divider] }})</p>
      </template>
      <template v-else-if="$route.params.key === 'mex2' && indicator.num == 11.4">
        <p class="text-primary"> Feminicidio en grado de tentativa  ({{ variables[indicator.dividend] }})  / {{ divider_name }} ({{ variables[indicator.divider] }})</p>
      </template>
      <template v-else>
        <p class="text-primary"> {{ dividend_name }} ({{ variables[indicator.dividend] }})  / {{ divider_name }} ({{ variables[indicator.divider] }})</p>
      </template>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="text-uppercase font-weight-divider_checked_namebold mt-4">Guía de interpretación</p>
    </div>
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <tr>
              <td>Arriba del rango</td>
              <td>
                <ul>
                  <li v-for="interpretation in indicator.interpretation_guides" :key="interpretation.id" v-show="interpretation.type == 1">
                    {{ interpretation.text }}
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Abajo del rango</td>
              <td>
                <ul>
                  <li v-for="interpretation in indicator.interpretation_guides" :key="interpretation.id" v-show="interpretation.type == 0">
                    {{ interpretation.text }}
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
</template>

<script>
import { VueEditor } from "vue2-editor";
export default {
  components: { VueEditor },
  props: {
    indicator: Object,
    variables: Object,
    form: Object,
    variables_info: Array,
    year : String,
    round : Number,
    state: String,
    rules: Array,
    rulestateselect: Object,
  },
  data: () => ({
    count : 0,
    dataChange: [],
    years : 0,
    collapse: true,
    divider_name: '',
    dividend_name: '',
    divider_checked_name: '',
    dividend_checked_name: '',
    customToolbar: [
      ["bold", "italic", "underline"],
      [{ list: "ordered" }, { list: "bullet" }]
    ],
    estatesNewOperation:[
      24,9,31,30,26,4,1,8,11,17,23,15,10,21,14,22,29
    ],
    operationTrigger: false,
  }),
  methods: {
    getPercentage(dividend, divider){
      return (((dividend / divider) * 100) > 100) ? 'N/C' : ((dividend / divider) * 100).toFixed(1) + '%';
    },
    async checkOperation(){
      for (let index = 0; index < this.estatesNewOperation.length; index++) {
        const estate = this.estatesNewOperation[index];
        if (estate == this.variables.state_id) {
          this.operationTrigger = true;
        }
      }
      this.getDividerAndDividendName();
    },
    toggleCollapsed(observations_collapsed) {
      this.collapse = (observations_collapsed == 0) ? 1 : 0;
    },
    changeDivs(data){
      var valores_dividend = (data.dividend).split('_')
      var valores_divider = (data.divider).split('_')
      data.dividend = valores_dividend[0] + '_' +this.$route.params.year;
      data.divider = valores_divider[0] + '_' +this.$route.params.year;
      return data;
    },
    changeYear(data){
      var valores = data.split('_')
      var result = valores[0] + '_2018';
      return result;
    },
    getDividerAndDividendName(){

      if (this.operationTrigger) {
        switch (this.indicator.id) {
          case 8:
          this.indicator.divider = "variable7_2018";
          break;
          default:
          break;
        }
      }
      this.changeDivs(this.indicator);
      let divider_name = this.variables_info
      .filter(variable => variable.slug_2018 == this.changeYear(this.indicator.divider))
      .map(divider_name => divider_name.name)
      this.divider_name = divider_name[0]
      let divider_checked_name = this.variables_info
      .filter(variable => variable.slug_2018 == this.changeYear(this.indicator.divider))
      .map(divider_name => divider_name.check_slug_2018)
      this.divider_checked_name = divider_checked_name[0]

      let dividend_name = this.variables_info
      .filter(variable => variable.slug_2018 == this.changeYear(this.indicator.dividend))
      .map(dividend_name => dividend_name.name)
      this.dividend_name = dividend_name[0]

      let dividend_checked_name = this.variables_info
      .filter(variable => variable.slug_2018 == this.changeYear(this.indicator.dividend))
      .map(dividend_name => dividend_name.check_slug_2018)
      this.dividend_checked_name = dividend_checked_name[0]
    }

  },
  created(){
    this.years = this.$route.params.year;
    this.checkOperation();
    if(this.$props.indicator.collapsed == 0) {
      this.collapse = false;
    } else {
      this.collapse = true;
    }
    const languaje = localStorage.getItem("languaje");
    if (this.$props.indicator.decision_id == 1) {
      if ((this.$route.params.key === 'ags2' && this.$route.params.year === '2019') || (this.$route.params.key === 'dur2' && this.$route.params.year === '2019')) {
        if (languaje == 'es') {
          swal(
            '¡Información!',
            'La información cuantitativa de la primera aplicación de la Herramienta y la segunda para 2019 no coincide entre rondas. Esto se debe a que en la segunda aplicación, la Fiscalía decidió actualizar los datos para ese año. En este sentido, el Equipo de Trabajo registró y analizó para la segunda ronda esta última versión de datos para 2019. ',
            'info'
          )
        }else if (languaje == 'en') {
          swal(
            '¡Information!',
            'The quantitative information from the first and second application of the Tool for 2019 is not the same between rounds. This happened because during the second application, the AGO decided to update the data for that year. In this regard, the Work Team recorded and analyzed the latest version of data for 2019 for the second round.',
            'info'
          )
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.second-blue{
  background-color:#29597c;
  color: white;
  i{
    color : white;
  }

  p {
    margin: 0;
  }
}
</style>
